.quote-modal {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
    border-radius: 3px;
    margin: auto;
    width: 95%;
    height: auto;
    background-color: lightslategray;
    box-shadow: 6px 6px #3d68a4;
}

.quote-text {
    line-height: 4.5;
    color: whitesmoke;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.author-text {
    color: whitesmoke;
    font-variant: small-caps;
}

@media only screen and (min-width: 768px){
    .quote-modal {
        width: 500px;
        font-size: 18px;
    }
}